[submodule "generators/templates/polymer-starter-kit"]
	path = generators/app/polymer-starter-kit
	url = https://github.com/PolymerElements/polymer-starter-kit.git
[submodule "generators/app/polymer-starter-kit"]
	path = generators/app/polymer-starter-kit
	url = https://github.com/Hackception/polymer-starter-kit.git
